<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>国安数据管理平台</title>
<style>
body{width:100%; height:100%; }
div{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto; height:100px; line-height:50px; width:auto; color:#F00; font-size:30px; text-align:center;}
</style>
</head>

<body>
<div>
	1月5号9:00至1月5号21:00机房搬家，系统停机<br>
    在此期间系统暂停服务
</div>
</body>
</html>
